@import "buttons.css";
@import "forms.css";
@import "lists.css";
@import "tables.css";
@import "sticky-controls.css";
@import "a11y.css";

*, *:before, *:after { box-sizing: border-box; }

*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	--serif-font: 'Merriweather';
	--sans-font: 'Montserrat';

	--light-blue: #9eafcb;
	--blue: #396B97;
	--dark-blue: #1E3760;
	--bright-blue: #86D9ED;
	--green: #44A748;
	--red: #DA3848;
	--almost-white: #F5F5F5;
	--silver: #F0F0F0;
	--gray: #DDD;
	--medium-gray: #CCC;
	--dark-gray: #222;

	--main-max-width: 700px;
}

html, body {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 350px;
	height: 100%;
	font-size: 15px;
	font-family: var(--sans-font), sans-serif;
	font-weight: 400;
	color: var(--dark-blue);
	background-color: #fff;
}

@media (max-width: 500px) {
	html, body {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
	html, body {
		font-size: 13px;
	}
}

img {
	display: block;
	width: 100%;
}

a, a:visited {
	color: var(--blue);
	text-decoration: underline;
	text-underline-offset: 0.23em;
}

h1, h2, h3, h4, h5 {
	margin: 0 0 1rem 0;
	font-family: var(--serif-font), serif;
	font-weight: 700;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.83rem;
}

p {
	margin: 0 0 1.5rem 0;
}

em {
	font-family: var(--serif-font);
	font-weight: 700;
	font-style: normal;
}

small {
	font-size: 0.85rem;
	color: var(--light-blue);
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.nowrap {
	white-space: nowrap;
}

.wrap {
	white-space: normal;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
	pointer-events: none;
}

.expand {
	width: 100%;
}

.center {
	text-align: center;
}

#view {
	position: relative;
	height: 100%;
}

.content-container {
	max-width: var(--main-max-width);
	margin: 0 auto;
	padding: 2rem 1rem 3rem 1rem;
	opacity: 0;
	transition: opacity 0.6s ease;
}

.content-container.in {
	opacity: 1;
}
